@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 120px;
  top: 0px;
  width: 700px;
  height: 700px;
  margin-top: -150px;

}
@media only screen and (max-width: 600px) {
  .hero-banner-img {
    display: none;
  }
}