@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 120px;
  top: 0px;
  width: 700px;
  height: 700px;
  margin-top: -150px;

}
@media only screen and (max-width: 600px) {
  .hero-banner-img {
    display: none;
  }
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card {
  width: 200px;
  height: 225px;
  background: #fff;
  border-top: 4px solid #9d4edd;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 180px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.detail-image {
  width: 700px;
  height: 600px;
}


@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}



@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}